name: Node.js CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: [ self-hosted ]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: npm install

      - name: Run Test Suite
        run: npm run test

  start-server:
    runs-on: [ self-hosted ]
    needs: test

    steps:
      - name: Checkout Repository
        # To make sure that the runner is on the correct branch in the repository
        # 3and have access to dependency file
        uses: actions/checkout@v2

      - name: Install Dependencies
        # Use run to execute any script
        run: npm install

      - name: Start App in Background
        # `&` runs app in background
        run: npm run start &

      - name: Wait for App
        # Add a wait time to ensure app is up (use case: temporarily for testing)
        # Without the wait `sleep`, any subsequent steps that might depend on the app could fail
        # because they try to access the app before it's ready
        run: sleep 10

      - name: Conditional Step
        run: echo "This step only runs on the main branch"
        # `github` is Context object. `ref` is reference to branch or tag that triggered workflow run
        if: github.ref == 'refs/heads/main'